<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Coffee and Pizza</title>
 <style type="text/css">
    a{
      cursor:pointer;
    }
    body {  color:#333; font:300 15px/15px Roboto,Arial,Helvetica;background:url(../images/bg.jpg) right no-repeat fixed #fff; -webkit-font-smoothing:antialiased;}
    html, body { margin: 0; padding: 0; }
    body { background: #f2f2f2 no-repeat top center;}
    .audio-player { margin: 0 auto;}
  </style>
<!-- Google fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css'>

<!-- font awesome -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- bootstrap -->


</head>

<body>
<div class="topbar animated fadeInLeftBig"></div>

<!-- Header Starts -->
<!-- #Header Starts -->




<!-- Slider Starts -->
<div class="banner">
          <img src="../images/back.jpg" alt="banner" class="img-responsive" style="width:10000px;">
          <div class="caption">
            <div class="caption-wrapper">
              <div class="caption-info">              
              <i class="fa fa-music fa-5x animated bounceInDown"></i>
              <h1 class="animated bounceInUp">Thank you for your responses. You rock!</h1>
              <p class="animated bounceInLeft">You can now get back to your very imporatant lives. </p>
              </div>
            </div>
          </div>
</div>
<!-- #Slider Ends -->









<!-- Cirlce Starts -->


      <!-- menus -->



  </div>
  </div>

  
</div>
<!-- #Cirlce Ends -->

<div id="partners" class="container spacer ">

<!-- team -->
<h3 class="text-center  wowload fadeInUp">The Team</h3>
<p class="text-center  wowload fadeInLeft">We are a team of two developers</p>
<div class="row grid team  wowload fadeInUpBig">  
  <div class=" col-md-3 col-md-offset-2 col-xs-6">
  <figure class="effect-chico">
        <img src="../images/team/8.jpg" class="img-responsive" />
        <figcaption>
            <p><b>Shrey Bagroy</b><br>Student,IIITD</p>            
        </figcaption>
    </figure>
    </div>

    <div class=" col-md-3 col-md-offset-1 col-xs-6">
  <figure class="effect-chico">
        <img src="../images/team/10.jpg" class="img-responsive" />
        <figcaption>            
            <p><b>Ambar Pal</b><br>Student,IIITD</p>            
        </figcaption>
    </figure>
    </div>

 
</div>
<!-- team -->

</div>















</div>

</div>
<!--Contact Ends-->



<!-- Footer Starts -->
<div class="footer text-center spacer">
<p class="wowload flipInX"><a href="#"><i class="fa fa-github fa-2x"></i></a></p>
</div>
<!-- # Footer Ends -->





<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title">Title</h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->    
</div>



<!-- jquery -->

<!-- wow script -->


<!-- boostrap -->

<!-- jquery mobile -->

<!-- gallery -->

<script src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js'></script> 


<!-- custom script -->
  
<script type="text/javascript">
var win;
$('#exittt').click(function() {
open(location, '_self').close();
});

function closeit() {
    win.close();
}
</script>
</body>
</html>

